<div class="flex__row intro-buttons">
{%- for nav-item in site.data.navigation %}
    {%- if nav-item.permalink contains 'styleguide/' %}
        {%- continue %}
    {%- endif %}
    {%- if nav-item.permalink %}
        {%- assign item-link = nav-item.permalink %}
    {%- else %}
        {%- capture wherevalue %}item.path contains '{{ nav-item.folder }}'{% endcapture %}
        {%- assign pagesContents = site.pages | where_exp: 'item', wherevalue %}
        {%- assign firstElement = true %}
        {%- for item in pagesContents %}
            {%- if firstElement == true %}
                {%- assign item-link = item.url%}
                {%- assign firstElement = false %}
            {%- endif %}
        {%- endfor %}
    {%- endif %}
    {%- capture nav-icon -%}
        {%- if nav-item.fa-icon %}<i class="intro-buttons__item-label {{ nav-item.fa-icon }}"></i>{% endif %}
        {%- if nav-item.icon %}<i class="intro-buttons__item-label {{ nav-item.icon }}"></i>{% endif %}
    {%- endcapture %}
    <a class="intro-buttons__item" href="{{ item-link | relative_url }}" title="{{ nav-item.name }}">
        {{ nav-icon }}
        <h3 class="intro-buttons__item-title">{{ nav-item.name }}</h3>
    </a>
{%- endfor %}
</div>