<div class="grid__row">
{%- for nav-item in site.data.navigation %}
    {%- capture fa-icon %}
        {%- if nav-item.fa-icon %}
    <i class="{{ nav-item.fa-icon }} intro__item-label"></i>
        {%- endif %}
    {%- endcapture %}
    <div class="grid__column-4">
        <div class="intro__item">
            {{ fa-icon }}
            <h2 class="intro__item-heading">{{ nav-item.name }}</h2>
            <blockquote class="intro__item-description">{{ nav-item.description }}</blockquote>
        {%- if nav-item.permalink %}
                <a class="intro__item-link" href="{{ nav-item.permalink | relative_url }}" title="{{ nav-item.name }}">Lees meer&hellip;</a>
        {%- else %}
            {%- capture wherevalue %}item.path contains '{{ nav-item.folder }}'{% endcapture %}
            {%- assign pagesContents = site.pages | where_exp:"item", wherevalue %}
            {%- assign firstElement = true %}
            {%- for item in pagesContents %}
                {%- if firstElement == true %}
                    {%- assign firstElement = false %}
                <a class="intro__item-link" href="{{ item.url | relative_url }}" title="{{ item.name }}">Lees meer&hellip;</a>
                {%- endif %}
            {%- endfor %}
        {%- endif %}
        </div>
    </div>
{%- endfor %}
</div>